.content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descriptionBlock{
    padding: 10px;
}
.wallpaperImages{
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}